h1 {
  font-size: 3.2em;
  margin-bottom: 10px;
}

p {
  max-width: 80%;
}

a {
  color: red;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

#padding50 {
  padding-top: 50px;
}

#todo-box {
  height: 75%;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 1%;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

app-toolbar {
  background-color: red;
  color: white;
  font-size: 2.5em;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 1%;
}

#logo {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 50px;
}
  #logo-icon {
    height: 30px;
    width: 30px;
    margin-left: 7px;
  }

#todo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
  padding: 0 35px;
  height: calc(100% - 50px);
}
  #h1-icon {
    height: 40px;
    width: 40px;
    padding-bottom: 5px;
  }
  #calender-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border: 2px solid red;
  }
  #todo-content p {
    margin: 10px 0;
  }

/* MEDIA QUERIES */
@media screen and (max-width: 780px) {
  #padding50 {
    padding: 0;
  }

  #todo-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
    box-shadow: none;
  }

  p {
    max-width: 90%;
  }
}
