<div id="padding50"></div>

<div id="todo-box">

  <app-toolbar>
    <div id="logo">
      Streak
      <iron-icon id="logo-icon" icon="app-icons:trending-up"></iron-icon>
    </div>

    <!-- IF USER SIGNED IN SHOW LOGOUT ICON -->
    <!-- TOOLTIP NOT WORKING ON LOGOUT ICON -->
    <paper-icon-button *ngIf="isLoggedin; else showLogin" id="logout-icon" icon="app-icons:backspace" (click)="userLogout()"></paper-icon-button>
    <paper-tooltip for="logout-icon">Logout</paper-tooltip>
    <!-- ELSE SHOW LOGIN ICON -->
    <ng-template #showLogin>
      <paper-icon-button id="login-icon" icon="app-icons:assignment-ind" (click)="userLogin()"></paper-icon-button>
      <paper-tooltip for="login-icon">Login</paper-tooltip>
    </ng-template>


  </app-toolbar>

  <div id="todo-content">
    <!-- IF USER HAS NOT SIGNED IN YET SHOW WELCOME DIV -->
    <div *ngIf="isLoggedin; else noUser">

      <paper-fab icon="app-icons:add"></paper-fab>
    </div>
    <!-- ELSE SHOW THE CONTENT PAGE -->
    <ng-template #noUser>
      <img id="calender-img" src="../../assets/images/calender.jpg" alt="Calender Image">
      <p>Streak<iron-icon style="padding-bottom: 2px;" icon="app-icons:trending-up"></iron-icon> is a daily To-Do's app that keeps track of your daily progress.</p>
      <p>Complete ALL of your to-do's daily to increase your streak!</p>
      <p>Please sign in with a valid <strong>Google</strong> account by clicking the <iron-icon style="padding-bottom: 2px;" icon="app-icons:assignment-ind"></iron-icon> in the top right to get started!</p>
      <p>View the source code <a href="https://github.com/michaelgee22/streak" target="_blank">here</a>!</p>
    </ng-template>

  </div><!-- todo-content div end -->
</div><!-- todo-box div end -->
